body, html {
    height: 100%;
    margin: 0;
  }

.bg {
    height: 100%;
    width: auto;
    background-image: url('images/background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1800px;
    width: 100%;
}

.logo {
    padding-top: 50px;
    padding-left: 10%;
}

.signHeader {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: bold;
    line-height: 38px;
}

.bubbles {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .textLabel {
    padding-top: 2%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
}

.buttonContainer {
    text-align: center;
    margin: auto;
    width: 50%;
    /* background-color: blue; */
}

.btnC {
    border-color: gray;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
}

.btnC:hover {
    border-color: #00AEFF;
    border-width: 1px;
    color: #00AEFF;
    background-color: white;
}

.form-check {
    border-color: #00AEFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
}

.btnP {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnP:focus {
    outline: none;
    box-shadow: none;
  }

.btnPrev {
    font-family: "Roboto";
    font-style: normal;
    border-color: #00AEFF;
    background-color: white;
    color: #00AEFF;
    border-radius: 15px;
    border-width: 2px;
  }

  .btnPrev:hover {
    background-color: #00AEFF;
    border-color: #00AEFF;
    color: white;  
  }

  .btnNext {
    font-family: "Roboto";
    font-style: normal;
    border-radius: 15px;
    border-width: 2px;
    border-color: #00AEFF;
    color: white;
    background-color: #00AEFF;
  }

  .btnNext:hover {
    background-color: lightskyblue;
    color: white;
    border-color: #00AEFF;
  }

  .btnNext:active:focus {
    background-color: #00AEFF !important;
    color: white;
    border-color: #00AEFF !important;
  }

  .btnPrev:active:focus {
    background-color: #00AEFF !important;
    color: white;
    border-color: #00AEFF !important;
  }