.container {
    max-width: 1800px;
    width: 100%;
}

.background {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;  
    background-size: cover;
}

.logo {
    padding-top: 50px;
    padding-left: 10%;
}

.quote {
   
    font-family: 'Sintony', sans-serif;
    font-style: normal;
    color: #00AEFF;
    font-size: 58px;
    line-height: 76px;
    padding-top: 30%;
    padding-left: 17%;
}

.welcome {
    width: 511px;
}

.quote p{
    color: black;
    font-size: 24px;
    font-family: 'Sintony', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
    padding: 0px;
}

.dar {
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}

.be {
    color: #FFC727;
}

.signHeader {
    text-align: center;
    padding-top: 20%;
    padding-left: 10%;
    font-family: 'Sintony', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: bold;
    line-height: 38px;
}

.bubbles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
}

.entity {
    padding-top: 15px;
    padding-left: 10%;
    padding-bottom: 7%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.entityB {
    padding-top: 15px;
    padding-left: 10%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.individual {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    cursor: pointer;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.buttons {
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    cursor: pointer;
}

.filling {
    padding-bottom: 300px;
}

.formStyle {
    padding-left: 30%;
    padding-right: 20%;
}

.formStyleB {
    padding-left: 33%;
    padding-right: 20%;
}

.nextButton {
    padding-left: 23% !important;
}

.textLabel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    margin-left: 0px !important;
}

.btn-outline-primary {
    font-family: Roboto;
    font-style: normal;
    color: #00AEFF;
    border-color: #00AEFF;
    border-radius: 15px;
    border-width: 2px;
}

.btn-outline-primary:hover {
    border-color: #00AEFF;
    background-color: #00AEFF;
}

.btnNext {
    color: white;
    background-color: #00AEFF;
    width: 100%;
}

.btnNext:hover {
    background-color: lightskyblue;
    color: white;
}

.btnNext:active:focus {
    background-color: #00AEFF !important;
    color: white;
    border-color: #00AEFF !important;
}

.btnPrev:active:focus {
    background-color: #00AEFF !important;
    color: white;
    border-color: #00AEFF !important;
}

.btnPrev {
    width: 55%;
}

.custom-control-label {
    padding-left: 5%;
}

.custom-select {
    margin-right: 10%;
}

.transition {
    padding-left: 5% !important;
}

.bla {
    margin: 0px !important;
}